.home {
  section {
    margin-top: 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  margin: 1em auto;
  align-content: center;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 850px;

  h1 {
    // background-image: url('https://github.com/satoftegaard/eco-hostel/blob/master/whoweare.png?raw=true');
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #75c299;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 0;
  }

  ul.social {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding: 0;

    li {
      a {
        font-size: 24px;
        color: #224a46;
        margin-right: 10px;
      }
    }
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }

  div.reservation {
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    border: lightgrey;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    box-shadow: 1px 1px 10px lightgrey;
    margin-top: 4em;
    padding: 20px;

    input[type=number] {
      margin-left: 10px;
      border: none;
      border-bottom: 1px solid #224a46;
      width: 4em;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 18px;
      text-align: center;
      padding-bottom: 1px;

      &:focus {
        outline: none;
        border-bottom: 2px solid #224a46;
        padding-bottom: 0;
      }
    }

    .roomType {
      ul {
        margin-top: 1em;
        display: flex;
        padding-left: 0;

        li {
          display: flex;
          text-transform: lowercase;
        }
      }
    }

    .checkbox {
      border: 2px solid #75c299;
      width: 1em;
      height: 1em;
      line-height: 0.8em;
      text-align: center;
      margin-right: 10px;
    }

    ul.details {
      // width: 355px;
      list-style: none;
      padding-left: 0;
      padding-top: 0;

      li {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 30px;
        text-transform: uppercase;
        padding-right: 10px;
        color: #224a46;
      }
    }
  }

  div.calendar {
    width: 355px;
    height: 255px;
    background-color: #f7f5f6;
    margin-top: 15px;
  }
}

div.gallery {
  // background-image: url('https://github.com/satoftegaard/eco-hostel/blob/master/geometry_@2X.png?raw=true');
  padding: 0;

  p {
    padding-top: 30px;
    color: #224a46;
    font-weight: 700;
  }

  ul {
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    li {
      flex-direction: column;
      padding: 0 10px;

      img {
        // padding-top: 50px;
        padding-right: 0;
        padding-bottom: 10px;
        width: 250px;
        height: 250px;
      }
    }
  }

  div.zoom {
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      font-size: 1.5em;
      height: 100px;
      width: 40px;
      background-color: #75c299;
      border: none;
      color: white;
    }
  }

  div.buttons {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 30px;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        // justify-content: space-between;

        a {
        }

        a:hover {
          transform: scale();
        }

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}
