.home {
  section {
    margin-top: 0;
  }
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  margin: 1em auto;
  align-content: center;
  padding-left: 80px;
  padding-right: 80px;
  max-width: 850px;

  h1 {
    // background-image: url('https://github.com/satoftegaard/eco-hostel/blob/master/whoweare.png?raw=true');
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #75c299;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 0;
  }

  ul.social {
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    padding: 0;

    li {
      a {
        font-size: 24px;
        color: #224a46;
        margin-right: 10px;
      }
    }
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }

  div.reservation {
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    padding-top: 70px;
    border: lightgrey;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    box-shadow: 1px 1px 10px lightgrey;
    margin-top: 4em;
    padding: 20px;

    ul {
      // width: 355px;
      list-style: none;
      padding-left: 0;
      padding-top: 0;

      li {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 18px;
        padding-top: 30px;
        text-transform: uppercase;
        padding-right: 10px;
        color: #224a46;
      }
    }
  }

  div.calendar {
    width: 355px;
    height: 255px;
    background-color: #f7f5f6;
    margin-top: 15px;
  }

  div.gallery {
    padding: 0;

    p {
      padding-top: 30px;
      color: #224a46;
      font-weight: 700;
    }

    ul {
      list-style: none;
      padding-left: 0;
      padding-right: 0;
      justify-content: center;
      justify-content: space-between;
      flex-wrap: wrap;
      display: flex;

      li {
        flex-direction: column;

        img {
          // padding-top: 50px;
          padding-right: 0;
          padding-bottom: 10px;
          width: 250px;
          height: 250px;
        }
      }
    }

    div.zoom {
      img {
        width: 850px;
        height: 700px;
        background-size: cover;
        padding-top: 20px;
      }
    }
  }

  div.buttons {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-top: 30px;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        // justify-content: space-between;

        a {
        }

        a:hover {
          transform: scale();
        }

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}
