@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body,
#root,
.layout {
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
}

h1 {
  // background-image: url('https://github.com/satoftegaard/eco-hostel/blob/master/src/logo.png?raw=true');
  height: 800px;
  width: 350px;
}

header {
  nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 780px;
    background-image: url('https://github.com/satoftegaard/eco-hostel/blob/master/src/map.png?raw=true');
    background-repeat: no-repeat;
    background-size: cover;

    ul {
      &.nav li {
        list-style: none;
      }
    }
  }
}

footer {
  p {
    font-size: 13px;
    text-align: center;
    color: lightgrey;
    padding-top: 60px;
    font-family: sans-serif;
  }
}
