.profile {
  section {
    margin-top: 0;
  }
}

header {
  nav {
    div.photo {
      position: absolute;
      left: calc(50% - 350px / 2);
      top: 215px;

      img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border-color: white;
        border: 13px solid rgba(255,255,255,0.5);
        justify-content: center;
      }
    }
  }
}

ul.sec-buttons {
  list-style: none;
  float: right;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  flex-direction: column;

  li {
  img {
    }
  }
}

div.contact {
  text-align: center;

  h1 {
    font-size: 16px;
    color: #224a46;
    font-weight: bold;

    p {
      color: #224a46;
    }
  }
}

div.upcoming {
  padding-top: 60px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  h3 {
    line-height: .5px;
    font-weight: normal;
  }

  h4 {
    line-height: -2px;
  }

  button {
    border-style: none;
    font-size: 14px;
    width: 70px;
    color: white;
    background-color: #75c299;
    border-radius: 4px;
    border: thin solid #75c299;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
  }

  p {
    a {
      color: #224a46;
      text-decoration: none;
    }
  }
}

a:hover {
  font-weight: bold;
}

p {
  align-content: center;
  align-items: center;
}

div.categories {
  ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

    li {
      margin: 5px;
      flex-direction: column;

      a {
        border-style: none;
        font-size: 18px;
        color: white;
        background-color: #75c299;
        border-radius: 4px;
        border: thin solid #75c299;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        padding: 0.5em;

        &:link,
        &:visited {
          text-decoration: none;
        }

        &:focus,
        &:hover,
        &:active,
        &.active {
          background-color: white;
          color: #75c299;
        }
      }
    }
  }
}

div.contactinfo {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 20px;
    text-align: center;
    align-content: center;
  }

  tr {
    padding-top: 10px;

    button {
      border-style: none;
      font-size: 14px;
      width: 70px;
      color: white;
      background-color: #75c299;
      border-radius: 4px;
      border: thin solid #75c299;
      font-weight: 700;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px;

      &:link,
      &:visited {
        text-decoration: none;
      }

      &:focus,
      &:hover,
      &:active,
      &.active {
        background-color: white;
        color: #75c299;
      }
    }
  }
}

div.make-sure {
  p {
    text-align: center;
  }
}
