@import 'utility';

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

@import 'layout';
@import 'home';
@import 'profile';
@import 'calendar';
@import 'sessionbutton';
@import 'profileimage';

// @import 'profileDocs';
