div.session {
  padding: 0 0 32px 32px;
  position: absolute;
  top: 30px;
  right: 30px;

  img {
    border-radius: 50%;
    border-color: white;
    border: 3px solid rgba(255, 255, 255, 0.5);
  }

  ul {
    top: 76px;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 120px;
    padding-left: 0;
    list-style: none;
    border-radius: 3px;
    display: none;

    &::before {
      position: absolute;
      top: -8px;
      left: 56px;
      content: '';
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid rgba(255, 255, 255, 0.5);
    }

    li {
      width: auto;
      height: auto;
      margin: 0;
      padding: 10px;
      text-align: center;
    }
  }

  &:hover {
    ul {
      display: block;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: $base-font-family;
    font-size: 18px;

    &:hover,
    &:focus,
    &:active {
      color: #333;
      outline: none;
    }

    img {
      border: none;
    }
  }
}


// button.session {
//   background-color: transparent;
//   border: none;
// }

// /* Dropdown Button */
// .dropbtn {
//   background-color: #4CAF50;
//   color: white;
//   padding: 16px;
//   font-size: 16px;
//   border: none;
//   cursor: pointer;
// }
//
// /* The container <div> - needed to position the dropdown content */
// .dropdown {
//   position: relative;
//   display: inline-block;
// }
//
// /* Dropdown Content (Hidden by Default) */
// .dropdown-content {
//   display: none;
//   position: absolute;
//   background-color: #f9f9f9;
//   min-width: 160px;
//   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//   z-index: 1;
// }
//
// /* Links inside the dropdown */
// .dropdown-content a {
//   color: black;
//   padding: 12px 16px;
//   text-decoration: none;
//   display: block;
// }
//
// /* Change color of dropdown links on hover */
// .dropdown-content a:hover {
//   background-color: #f1f1f1;
// }
//
// /* Show the dropdown menu on hover */
// .dropdown:hover .dropdown-content {
//   display: block;
// }
//
// /* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }
